In [366]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as pyplot
import re
%matplotlib inline

In [367]:
salary_df = pd.read_csv('hawks_salary.csv')
salary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 13 columns):
No.           23 non-null object
Player        24 non-null object
Flag          24 non-null object
Pos           24 non-null object
Age           24 non-null int64
Ht            24 non-null object
Wt            24 non-null int64
S/C           24 non-null object
Exp           24 non-null object
Birth Date    24 non-null object
Summary       22 non-null object
Salary        23 non-null object
Draft         20 non-null object
dtypes: int64(2), object(11)
memory usage: 2.6+ KB

In [368]:
salary_df.head()

,No.,Player,Flag,Pos,Age,Ht,Wt,S/C,Exp,Birth Date,Summary,Salary,Draft
0,NaN,Nicolas Beaudin\beaudni01,ca,D,20,5-11,168,L/-,R,October 7 1999,NaN,NaN,2018 CHI 1st (27)
1,27,Adam Boqvist\boqviad01,se,D,19,5-11,179,R/-,R,August 15 2000,4 G 9 A 13 P,"$925,000",2018 CHI 1st (8)
2,91,Drake Caggiula\caggidr01,ca,F,25,5-10,176,L/-,3,June 20 1994,9 G 6 A 15 P,"$1,500,000",NaN
3,46-47,Lucas Carlsson\carlslu01,se,D,22,6-0,189,L/-,R,July 5 1997,0 G 1 A 1 P,"$792,500",2016 CHI 4th (110)
4,22,Ryan Carpenter\carpery01,us,F,29,6-0,200,R/-,4,January 18 1991,3 G 12 A 15 P,"$1,000,000",NaN

In [369]:
salary_df = salary_df[1:]

In [370]:
col_titles = ['no.', 'name', 'nationality', 'pos', 'age', 'ht', 'wt', 'hand', 'exp', 'birth_date', 'summary', 'salary', 'draft']
salary_df.columns = col_titles

In [371]:
names = salary_df.name.tolist()
new_names = []
for name in names:
    new_names.append(name.split("\\")[0])
    
salary_df['name'] = new_names

In [372]:
country_dict = {'se':'SWE', 'ca':'CAN', 'us':'USA', 'cz':'CZE', 'fi':'FIN','ru':'RUS', 'ge':'GER'}
salary_df.nationality = salary_df.nationality.replace(country_dict)

In [373]:
handedness = salary_df.hand.tolist()
new_hand = []
for x in handedness:
    new_hand.append(x.split("/")[0])

salary_df['hand'] = new_hand

In [374]:
salary = salary_df.salary.tolist()
new_salary = []
for x in salary:
    x = x.replace(",","")
    new_salary.append(x.split("$")[1])
    
salary_df['salary'] = new_salary
salary_df.salary = salary_df.salary.astype('int')

In [375]:
salary_df.exp.replace({'R':'0.5'}, inplace = True)

In [376]:
index_names = salary_df[(salary_df.name == 'Corey Crawford') | (salary_df.name == 'Malcolm Subban')].index
salary_df.drop(index_names, inplace = True)

In [377]:
heights = salary_df.ht.tolist()
new_heights = []
for x in heights:
    x = (int(x.split('-')[0]) * 12) + (int(x.split('-')[1]))
    new_heights.append(x)
    
salary_df.ht = new_heights

In [378]:
salary_df.drop(['summary', 'draft', 'birth_date'], axis = 1, inplace = True)

In [379]:
positions = ['F', 'D']
salary_df = salary_df[salary_df['pos'].isin(positions)]

In [380]:
salary_df.replace('Jonathan Toews (C)', 'Jonathan Toews', inplace = True)

# Skaters DB

In [381]:
hawks_df = pd.read_csv('skaters.csv')
hawks_df = hawks_df[(hawks_df.team == 'CHI') & (hawks_df.situation == 'all')]

In [382]:
full_hawks_df = pd.merge(hawks_df, salary_df, on = ['name'], how = 'outer')

In [383]:
full_hawks_df = full_hawks_df.drop(labels = ['no.', 'pos'], axis = 1)

In [384]:
seabrook = {'name': 'Brent Seabrook', 'nationality':'CAN', 'age': 34, 'ht': 75, 'wt': '220', 'hand':'R', 'exp': 15, 'salary': 6875000}
sikura = {'name': 'Dylan Sikura', 'nationality': 'CAN', 'age':24, 'ht':71, 'wt':166, 'hand': 'L', 'exp': 3 , 'salary': 750000}
dehaan = {'name':'Calvin de Haan', 'nationality': 'CAN', 'age':28, 'ht':73, 'wt':195, 'hand': 'L', 'exp': 8 , 'salary': 4550000}
gilbert = {'name':'Dennis Gilbert', 'nationality': 'USA', 'age':23, 'ht':74, 'wt':216, 'hand': 'L', 'exp': 0.5 , 'salary': 925000}
nylander = {'name':'Alex Nylander', 'nationality': 'SWE', 'age':22, 'ht':73, 'wt':192, 'hand': 'R', 'exp': 4 , 'salary': 863333}
quenneville = {'name':'John Quenneville', 'nationality': 'CAN', 'age':23, 'ht':73, 'wt':195, 'hand': 'L', 'exp': 3 , 'salary': 750000}
wedin = {'name':'Anton Wedin','nationality': 'SWE', 'age':27, 'ht': 71, 'wt':195, 'hand': 'L', 'exp': 0.5 , 'salary': 925000}
beaudin = {'name':'Nicolas Beaudin','nationality': 'CAN', 'age':20, 'ht':71, 'wt':172, 'hand': 'L', 'exp': 0.5 , 'salary': 894167}
shaw = {'name':'Andrew Shaw','nationality': 'CAN', 'age':28, 'ht':71, 'wt':182, 'hand': 'R', 'exp': 9 , 'salary':3900000}

In [385]:
empty_players = ['Brent Seabrook', 'Dylan Sikura', 'Calvin de Haan', 'Dennis Gilbert', 'Alex Nylander', 'John Quenneville', 'Anton Wedin', 'Nicolas Beaudin', 'Andrew Shaw']
empty_player_dicts = [seabrook, sikura, dehaan, gilbert, nylander, quenneville, wedin, beaudin, shaw]
cols_replace = ['nationality', 'age', 'ht', 'wt', 'hand', 'exp', 'salary']

In [386]:
for player in empty_players:
    full_hawks_df[full_hawks_df.name == player] = full_hawks_df.fillna(pdict)

In [392]:
full_hawks_df.drop(full_hawks_df.tail(1).index, inplace = True)

In [394]:
full_hawks_df

,playerId,season,name,team,position,situation,games_played,icetime,shifts,gameScore,...,corsiAgainstAfterShifts,fenwickForAfterShifts,fenwickAgainstAfterShifts,nationality,age,ht,wt,hand,exp,salary
0,8476372.0,2019.0,Nick Seeler,CHI,D,all,12.0,8588.0,187.0,-2.52,...,0.0,0.0,0.0,USA,26.0,74.0,198,L,2,750000.0
1,8470607.0,2019.0,Brent Seabrook,CHI,D,all,32.0,34867.0,765.0,2.85,...,0.0,0.0,0.0,CAN,34.0,75.0,220,R,15,6875000.0
2,8479465.0,2019.0,Drake Caggiula,CHI,C,all,40.0,28344.0,640.0,14.21,...,0.0,0.0,0.0,CAN,25.0,70.0,176,L,3,1500000.0
3,8476473.0,2019.0,Connor Murphy,CHI,D,all,58.0,73928.0,1450.0,27.33,...,0.0,0.0,0.0,USA,26.0,76.0,212,R,6,4400000.0
4,8478146.0,2019.0,Matthew Highmore,CHI,C,all,36.0,21196.0,496.0,6.40,...,0.0,0.0,0.0,CAN,23.0,71.0,188,L,1,817500.0
5,8480144.0,2019.0,David Kampf,CHI,C,all,70.0,57373.0,1310.0,14.78,...,0.0,0.0,0.0,CZE,25.0,74.0,188,L,2,1000000.0
6,8479523.0,2019.0,Lucas Carlsson,CHI,D,all,6.0,5090.0,108.0,1.18,...,0.0,0.0,0.0,SWE,22.0,72.0,189,L,0.5,792500.0
7,8478106.0,2019.0,Dylan Sikura,CHI,R,all,9.0,5345.0,116.0,2.57,...,0.0,0.0,0.0,CAN,34.0,75.0,220,R,15,6875000.0
8,8475177.0,2019.0,Calvin de Haan,CHI,D,all,29.0,34559.0,683.0,8.65,...,0.0,0.0,0.0,CAN,34.0,75.0,220,R,15,6875000.0
9,8474250.0,2019.0,Zack Smith,CHI,C,all,50.0,35368.0,808.0,5.44,...,0.0,0.0,0.0,CAN,31.0,74.0,208,L,11,3250000.0
10,8474141.0,2019.0,Patrick Kane,CHI,R,all,70.0,89445.0,1557.0,77.15,...,0.0,0.0,0.0,USA,31.0,70.0,177,L,12,9800000.0
11,8478502.0,2019.0,Dennis Gilbert,CHI,D,all,21.0,19781.0,428.0,-1.35,...,0.0,0.0,0.0,CAN,34.0,75.0,220,R,15,6875000.0
12,8473604.0,2019.0,Jonathan Toews,CHI,C,all,70.0,82933.0,1681.0,54.31,...,0.0,0.0,0.0,CAN,31.0,74.0,201,L,12,9800000.0
13,8470281.0,2019.0,Duncan Keith,CHI,D,all,61.0,89022.0,1581.0,26.02,...,0.0,0.0,0.0,CAN,36.0,73.0,192,L,14,3500000.0
14,8481523.0,2019.0,Kirby Dach,CHI,C,all,64.0,54807.0,1103.0,22.64,...,0.0,0.0,0.0,CAN,19.0,76.0,197,R,0.5,925000.0
15,8478440.0,2019.0,Dylan Strome,CHI,C,all,58.0,55364.0,1085.0,33.55,...,0.0,0.0,0.0,CAN,22.0,75.0,200,L,3,832500.0
16,8479423.0,2019.0,Alex Nylander,CHI,L,all,65.0,47281.0,973.0,24.90,...,0.0,0.0,0.0,CAN,34.0,75.0,220,R,15,6875000.0
17,8477846.0,2019.0,Ryan Carpenter,CHI,C,all,69.0,58252.0,1338.0,12.69,...,0.0,0.0,0.0,USA,29.0,72.0,200,R,4,1000000.0
18,8476886.0,2019.0,Slater Koekkoek,CHI,D,all,42.0,42217.0,908.0,14.42,...,0.0,0.0,0.0,CAN,25.0,74.0,193,L,5,925000.0
19,8480871.0,2019.0,Adam Boqvist,CHI,D,all,41.0,39781.0,803.0,13.36,...,0.0,0.0,0.0,SWE,19.0,71.0,179,R,0.5,925000.0
20,8477961.0,2019.0,John Quenneville,CHI,C,all,9.0,5966.0,137.0,1.37,...,0.0,0.0,0.0,CAN,34.0,75.0,220,R,15,6875000.0
21,8481637.0,2019.0,Anton Wedin,CHI,L,all,4.0,2177.0,51.0,0.10,...,0.0,0.0,0.0,CAN,34.0,75.0,220,R,15,6875000.0
22,8477330.0,2019.0,Dominik Kubalik,CHI,L,all,68.0,58626.0,1223.0,46.73,...,0.0,0.0,0.0,CZE,24.0,74.0,179,L,0.5,925000.0
23,8479542.0,2019.0,Brandon Hagel,CHI,L,all,1.0,708.0,15.0,0.50,...,0.0,0.0,0.0,CAN,21.0,71.0,174,L,0.5,925000.0
24,8480814.0,2019.0,Nicolas Beaudin,CHI,D,all,1.0,1021.0,24.0,0.20,...,0.0,0.0,0.0,CAN,34.0,75.0,220,R,15,6875000.0
25,8476874.0,2019.0,Olli Maatta,CHI,D,all,65.0,71788.0,1492.0,18.30,...,0.0,0.0,0.0,FIN,25.0,74.0,206,L,6,4083300.0
26,8476438.0,2019.0,Brandon Saad,CHI,L,all,58.0,58178.0,1240.0,35.77,...,0.0,0.0,0.0,USA,27.0,73.0,206,L,8,6750000.0
27,8476381.0,2019.0,Andrew Shaw,CHI,C,all,26.0,22516.0,470.0,9.46,...,0.0,0.0,0.0,CAN,34.0,75.0,220,R,15,6875000.0
28,8479337.0,2019.0,Alex DeBrincat,CHI,L,all,70.0,73353.0,1365.0,45.61,...,0.0,0.0,0.0,USA,22.0,67.0,165,R,2,800000.0